
.Items{
  height: 400px;
  width: 275px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: black 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 5%;
}

h1{
  font-size: 25px;
}

.ImgItem{
  width:100%;
  height:200px;
  border-radius: 5%;
}

.botonItem{
  height: 35px;
  width: 150px;
  background-color: #f3c77b;
}