/*.Contador {
  height: 400px;
  width: 275px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5%;

}*/

.contador div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

p{
 margin:0px;   
}

.divContador{
  margin: 5px;
  display: flex;
  padding: 0px;

}


button{
  background-color: #f3c77b;;
  border: 0px;
  }

.botonCompraMenos{
  width: 20px;
  height: 20px;
  border-bottom-right-radius:30%;
  border-top-right-radius:30%;
}

.botonCompraMas{
  width: 20px;
  height: 20px;
  border-bottom-left-radius:30%;
  border-top-left-radius:30%;
}

.imgContador {
  width:100%;
  height:auto;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.botonCompra{
  height: 60px;
  width: 100px;
  border-radius: 15%;
  font-size: 18px;
}
